{% extends 'base.html.twig' %}
{% block title %}Artist List{% endblock %}


{% block body %}

<div class="d-flex justify-content-center align-items-center">
<div class="card shadow-lg w-100 mx-3" style="max-width: 600px; border-radius: 1rem;">
    <div class="card-body p-4">
        <h3 class="card-title text-center mb-4">Create Festival</h3>

        {% form_theme form 'bootstrap_5_layout.html.twig' %}

        {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.price) }}
        {{ form_row(form.location) }}
        {{ form_row(form.startDate) }}
        {{ form_row(form.endDate) }}

        <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
        {{ form_end(form) }}

        <div class="text-center mt-3">
            <a href="{{ path('festival') }}" class="btn btn-outline-primary">Back to festivals</a>
        </div>
    </div>
</div>
</div>
{% endblock %}
