{% extends 'base.html.twig' %}
{% block title %}Festivals List{% endblock %}


{% block body %}

<div class="container py-5">
    <h1 class="text-center text-white mb-5">Festivals</h1>

    <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for festival in festivals %}
            <div class="col">
                <div class="card shadow-sm h-100">
                    <div class="card-body">
                        <h5 class="card-title"> <strong>{{ festival.name }} </strong></h5>
                        <p class="card-text mb-1"><strong>Price:</strong> {{ festival.price }} lei</p>
                        <p class="card-text mb-1"><strong>Location:</strong> {{ festival.location }}</p>
                        <p class="card-text mb-1"><strong>Start Date:</strong> {{ festival.startDate|date('Y-m-d') }}</p>
                        <p class="card-text"><strong>End Date:</strong> {{ festival.endDate|date('Y-m-d') }}</p>
                        <a href="{{ path('festival_index', {id: festival.id}) }}"><button class="btn btn-outline-primary mt-2">View Festival LineUp</button></a>
                    </div>
                </div>
            </div>
        {% else %}
            <p class="text-muted text-center">No festivals available.</p>
        {% endfor %}
    </div>

    <!-- Pagination -->
    <div class="d-flex justify-content-between align-items-center mt-5">
        {% if page != 1 %}
            <a href="{{ path('festival', {page: page-1}) }}" class="btn btn-outline-light">Previous</a>
        {% else %}
            <div></div>
        {% endif %}
        {% if next %}
            <a href="{{ path('festival', {page: page+1}) }}" class="btn btn-outline-light">Next</a>
        {% endif %}
    </div>
    <div class="text-center">
        <a href="{{ path('festival_create') }}" class="btn btn-success">Create New Festival</a>
    </div>
</div>

{% endblock %}
