<!DOCTYPE html>
<html>
    <body>
    <h1>Festival</h1>
        <strong>Festival Name</strong>: {{ festival.name }}<br>
        Festival Price: {{ festival.price }} lei<br>
        Festival location: {{ festival.location }}<br>
        Festival Start Date: {{ festival.startDate }}<br>
        Festival End Date: {{ festival.endDate }}<br><br>

    </body>
</html>
