{% extends 'base.html.twig' %}

{% block title %}User List{% endblock %}

{% block body %}
    <h1 class="text-center mb-5 display-5 fw-bold text-white">User List</h1>

    {% if users|length > 0 %}
        <div class="row row-cols-1 row-cols-md-2 g-4">
            {% for user in users %}
                <div class="col">
                    <div class="card bg-light text-dark shadow h-100">
                        <div class="card-body">
                            <h5 class="card-title fw-semibold text-primary">User #{{ user.id }}</h5>
                            <ul class="list-unstyled mb-4">
                                <li><strong>Email:</strong> {{ user.email }}</li>
{#                                <li><strong>Password:</strong> {{ user.password }}</li>#}
                                <li><strong>First Name:</strong> {{ user.userDetails.firstName }}</li>
                                <li><strong>Last Name:</strong> {{ user.userDetails.lastName }}</li>
                                <li><strong>Age:</strong> {{ user.userDetails.age }}</li>
                            </ul>

                            <div class="d-flex justify-content-between">

                                <a href="{{ path('user_index', {id: user.id}) }}" class="btn btn-outline-primary">View</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-center text-white-50 mt-5">No users found.</p>
    {% endif %}

    <!-- Pagination -->
    <div class="d-flex justify-content-between align-items-center mt-5">
        {% if page != 1 %}
            <a href="{{ path('users', {page: page - 1}) }}" class="btn btn-outline-light">Previous</a>
        {% else %}
            <div></div>
        {% endif %}

        {% if next %}
            <a href="{{ path('users', {page: page + 1}) }}" class="btn btn-outline-light">Next</a>
        {% endif %}
    </div>
    <div class="d-flex justify-content-center align-items-center mt-5">
        <a href="{{ path('new_user') }}"><button type="button" class="btn btn-success">Create User</button></a>
    </div>
{% endblock %}

