<!DOCTYPE html>
<html>
<body>
<h1>User</h1>
<strong>User Email</strong>: {{ user.email }}<br>
User password: {{ user.password }}<br>
User Token: {{ user.token }}<br>
User First Name: {{ user.userDetails.firstName }}<br>
User Last Name: {{ user.userDetails.lastName }}<br>
User Age: {{ user.userDetails.age }}<br>
<br>

</body>
</html>
